article(style='margin: 0px auto 5px auto;')
  h2 Realtime Statistics

  div(style='overflow: auto')
    div(style='float:left; width:80%')
      div(google-chart, chart="chart", style="{{chart.cssStyle}}")
    div(style='float:left; width:20%')
      div(style='overflow: auto')
        div(style='float:left; width:100%')
          div#total.val
            {{stats.total}}
          div modules verifed

          div#failed.val
            {{stats.failed}}
          div timed out

          div#rfailed.val
            {{stats.rfailed}}
          div invalid tarball

          div#ok.val
            {{stats.ok}}
          div passed
          
          div#nok.val
            {{stats.nok}}
          div failed

          div#inexistent.val
            {{stats.inexistent}}
          div tests nonexistent
  div(style='margin-top:10px')
    | Currently testing
    br
    span.val(style='font-size: 15px') {{stats.running}}

article(ng-controller="SearchCtrl", style="margin: 0px auto 0px auto;")
  form#searchbox(action="")
    input#search(type="text", placeholder="Type a module name...", ng-model="module")
    input#submit(type="submit", value="Search", ng-click='searchModule(module)')

  div(style='margin-top: 10px; overflow: auto', ng-show='moddata')
    div(style='margin: auto; display: table;')
      div.infom.infomm MODULE:  
      div.infom(ng-bind="moddata.module")
      div.infom.infomm STATUS:  
      div.infom(ng-bind="moddata.status")
      div.infom.infomm TESTED:  
      div.infom {{moddata.tested | date:'MM/dd/yyyy @ h:mma'}}
    pre.output(ng-bind-html-unsafe="moddata.outputf", ng-show='moddata.outputf.length > 0')

article
  h2(style='margin-top:30px') How does it work
  p In order to guarantee test standardization and equality all tests are done using 
    a(href='http://docker.io', target='_blank') docker
    |  containers.
  p A container is created and then the module is tested inside it, while it's monitoring exit codes. In the end the container is killed and removed.
  p If your module was updated since last test it will be tested again.
  p
    img(src="images/nodechecker.png")
  p Test scripts like: "'echo "Error: no test specified" && exit 1" are considered dummy test scripts.


article
  h2 API / Data
  p GET 
    a(href='http://api.nodechecker.com/stats', target='_blank') /stats
    |  - statistics
  p GET 
    a(href='http://api.nodechecker.com/stats/timedout', target='_blank') /stats/timedout
    |  - modules that timed out during verification
  p GET 
    a(href='http://api.nodechecker.com/stats/tarball', target='_blank')  /stats/tarball
    |  - modules with an invalid tarball
  p GET 
    a(href='http://api.nodechecker.com/stats/ok', target='_blank')  /stats/ok
    |  - modules with passed tests
  p GET 
    a(href='http://api.nodechecker.com/stats/nok', target='_blank')  /stats/nok
    |  - modules with failed tests
  p GET 
    a(href='http://api.nodechecker.com/stats/withouttests', target='_blank')  /stats/withouttests
    |  - modules without tests
  p GET 
    a(href='http://api.nodechecker.com/info/nano', target='_blank')  /info/[module]
    |  - get test info (test status, output, date)

article
  h2 Disclaimer
  p Timed out - it means that 5 minutes of running time was not enough.
  p Invalid tarball - for some reason the tarball is invalid/corrupted/404 or empty npm info.
  p Test nonexistent - Tests were not detected.
  p Failed - 'npm test' failed, this does NOT mean the module is broken. (ex: a test that needs human intervention/input/configuration/...)
  p This isn't a good scientific metric. Do NOT make judgements based on these results.
