article
  #press(style="margin-left:auto;margin-right:auto;width:600px;text-align:center;font-size:9px")
    | Proudly powered by
    ul.sponsors
      li
        a(href="http://nodejs.org", target="_blank")
          img(src="images/nodejs.png")
      li
        a(href="http://redis.io", target="_blank")
          img(src="images/redis.png")
      li
        a(href="https://docker.io", target="_blank")
          img(src="images/docker.png")
      li
        a(href="https://npmjs.org/", target="_blank")
          img(src="images/npm.png")
      li
        a(href="http://angularjs.org/", target="_blank")
          img(src="images/angular.png")

    | Built by 
    a(href='http://abru.pt', target='_blank') Pedro Dias
    | 
    a(href='https://twitter.com/pedromdias', target='_blank') @pedromdias