html(ng-app="myApp")
  head
    script(src="//www.google.com/jsapi")
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-sanitize.min.js')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="/libs/ng-google-chart.js")
    script(src="/libs/ansi.js")

    script(src='/js/app.js')
    script(src='/js/controllers.js')

    link(href='/css/npmt.css', rel='stylesheet')
    link(href='/images/favicon.ico', rel="shortcut icon")
    
    title Nodechecker - Testing node modules 24h/7


    |<script>
    |  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    |  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    |  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    |  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    |  ga('create', 'UA-43264625-1', 'nodechecker.com');
    |  ga('send', 'pageview');
    |</script>
  body

    a(href="https://github.com/apocas/nodechecker.com")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")

    #outer(style="width:100%")
      div(style="width: 50%;margin: 0 auto;")
        div(ng-controller="StatsCtrl", style="text-align: center")

          .headerback
            block headerp
              include header

          .content(ng-view)

          .ground
            block footerp
              include footer


